# Ignore Rust build artifacts
/target
/Cargo.lock

# VS Code settings
/.vscode

# Debugging files
*.log
/logs

# Build Files
/Builds
BuildTools.jar
BuildTools.log.txt

# Database Files
spigot_builds.db
